# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/cache/
data/raw/

# Testing
.pytest_cache/